<?xml version="1.0" encoding="UTF-8"?>

<!-- 
  Wix Project template to install (and publish) Visio components (stencils & templates) 
  <visio:Publish /> item which does all the work
-->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:visio="http://schemas.microsoft.com/wix/Visio" >
 
  <?define Version="1.0.0.0"?>
  <?define UpgradeCode="{0d5db034-0d2e-43d5-840f-a9a49565d046}" ?>

  <Product Id="*" Name="VisioSetupProject1 $(var.Version)" Language="1033" Version="$(var.Version)" Manufacturer="alisio" UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="200" Compressed="yes" InstallPrivileges="elevated" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />
    <MediaTemplate EmbedCab="yes"/>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLDIR" Name="VisioSetupProject1" FileSource="." >

          <Component>
            <File Name="Stencil_1_M.vss">
              <visio:PublishStencil MenuPath="VisioSetupProject1\Stencil 1" />
            </File>
          </Component>

          <Component>
            <File Name="Template_1_M.vst">
              <visio:PublishTemplate MenuPath="VisioSetupProject1\Template 1" />
            </File>
          </Component>

        </Directory>
      </Directory>
    </Directory>

    <Feature Id="ProductFeature" Title="All Items" Display="expand" >
      
      <Feature Id="StencilsFeature" Title="Install stencils" >
        <ComponentRef Id="Stencil_1_M.vss" />
      </Feature>

      <Feature Id="TemplatesFeature" Title="Install templates"  >
        <ComponentRef Id="Template_1_M.vst" />
      </Feature>

    </Feature>

    <UIRef Id="WixUI_FeatureTree" />

  </Product>
</Wix>
