<?xml version='1.0' encoding='Windows-1252'?>
<!--http://www.dizzymonkeydesign.com/blog/misc/adding-and-customizing-dlgs-in-wix-3/-->
<!--http://themech.net/2008/08/how-to-create-a-simple-msi-installer-using-wix/-->
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Product Name='Installer demo' Id='{482E6F4B-1D22-42B1-9C2C-D874A2E3B6E7}'
   UpgradeCode='{24C26F47-3F43-4AA1-A67D-4122DB4E2F00}'
   Language='1033' Version='1.0.0' Manufacturer='Howest'>

    <Package Id='*' InstallerVersion='200' Compressed='yes' />

    <Condition Message="You need to be an administrator to install this product.">
      Privileged
    </Condition>
    <Condition Message='This setup requires the .NET Framework 2.0 or higher.'>
      <![CDATA[MsiNetAssemblySupport >= "2.0.50727"]]>
    </Condition>

    <Media Id='1' Cabinet='InstallerDemo.cab' EmbedCab='yes' />

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder'>
        <Directory Id='INSTALLDIR' Name='Installer Demo'>
          <Component Id='MainExecutable' Guid='{DA8E1DAB-CD41-49E6-BA28-37E6B3D585EB}'>
            <File Id='InstallerEXE' Name='Installer.exe'
             Source='..\Installer\bin\Debug\Installer.exe' Vital='yes'>
              <Shortcut Id="startmenuInstallerDemo" Directory="ProgramMenuDir"
               Name="Installer Demo" WorkingDirectory='INSTALLDIR'
               Icon="icon.ico" IconIndex="0" Advertise='yes' />
            </File>
            <!--<RemoveFolder Id="INSTALLDIR" On="uninstall" />-->
          </Component>

          <Component Id='Library' Guid='{62FFC736-7D60-493C-8CFB-7FE1BB1EFED5}'>
            <File Id='LibraryDLL' Name='Library.dll'
             Source='..\Installer\bin\Debug\Library.dll' Vital='yes'>
            </File>
            <RemoveFolder Id="INSTALLDIR" On="uninstall" />
          </Component>
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuDir" Name="Installer Demo">
          <Component Id='ProgramMenuDir' Guid='{6BBA29B5-9976-4B64-A6E4-78790B64FB75}'>
            <RegistryValue Root='HKCU' Key='SOFTWARE\Howest\Installer Demo'
             Type='string' Value='Hello World' KeyPath='yes' />
            <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <!---To do-->
    <Directory Id="DesktopFolder" Name="Desktop">
      <Component Id="DesktopShortcut" Guid="{6B3B0194-01F3-4AD7-89BD-34AF9609137B}">
        <Condition>INSTALLDESKTOPSHORTCUT</Condition>
        <RegistryKey Root="HKCU" Key="SOFTWARE\Howest\Installer Demo" Action="createAndRemoveOnUninstall">
          <RegistryValue Name="AnyValueName" Value="1" Type="integer" KeyPath="yes"/>
        </RegistryKey>
        <Shortcut Id="DesktopShortcut" Directory="DesktopFolder" Name="ShortcutName" ShortName="ShrtName" Icon="YourApp.exe" Target="[#YourAppExeId]"/>
      </Component>
    </Directory>

    <Icon Id="icon.ico" SourceFile="..\Installer\bin\Debug\icon.ico"/>

    <Feature Id='Complete' Level="1">
      <ComponentRef Id='MainExecutable' />
      <ComponentRef Id='Library' />
      <ComponentRef Id='ProgramMenuDir' />
    </Feature>

    <WixVariable Id="WixUIBannerGif" Value="banner.gif" />
    <WixVariable Id="WixUIDialogGif" Value="banner.gif" />
    <WixVariable Id="WixUILicenseRtf" Value="..\Installer\bin\Debug\EULA.rtf" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <UIRef Id="WixUI_InstallDir" />

    <CustomAction Id="LaunchApplication"
     FileKey="InstallerEXE" ExeCommand="" Execute="immediate"
     Impersonate="yes" Return="asyncNoWait" />
    <UI>
      <Publish Dialog="ExitDialog" Control="Finish"
       Order="1" Event="DoAction" Value="LaunchApplication">
        LAUNCHAPPONEXIT AND NOT (WixUI_InstallMode = "Remove")
      </Publish>
    </UI>

    <!-- This will ensure that the LaunchConditions  
  are executed only after searching -->
    <InstallUISequence>
      <LaunchConditions After='AppSearch' />
    </InstallUISequence>
    <InstallExecuteSequence>
      <LaunchConditions After='AppSearch' />
    </InstallExecuteSequence>

  </Product>
</Wix>
